.layout-main {

height: 100%;

position: relative;

.rotate-landscape {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: #ffffff url(../images/main/rotate-landscape.png) no-repeat center;
  display: none;
}


.rotate-portrait {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: #ffffff url(../images/main/rotate-portrait.png) no-repeat center;
    display: none;
  }



}