<div class="wrapper">
    <div id="header" style="position: absolute">
        <ul>
            <li style="float: left;margin-left: 15%;">head</li>
            <li style="float: left;margin-left: 15%;">head1</li>
            <li style="float: left;margin-left: 15%;">head2</li>
        </ul>
    </div>

    <div id="wrapper1" style="position: absolute;">
     
            <div id="scroller" style="position: absolute;">


                <div id="lineContent1" class="line">
                </div>

                <div id="lineContent2" class="line">
                </div>

                <div id="lineContent3" class="line">
                </div>

                <div id="lineContent4" class="line">
                </div>

                <div id="lineContent5" class="line">

                </div>

            </div> 
    </div>
    <!--<div id="footer"> this is footer!</div>-->
</div>