<div class="line5">
    <img src="./assets/images/line5/bg.png" alt="" class="bg">
    <div class="title">
        <img src="./assets/images/line5/buy.png" alt="" class="buy">
    </div>
    <div class="commodity">
        <div class="commodity1">
            <img src="./assets/images/line5/commodity1.png" alt="">
            <div class="ljgm">
                <span>立即购买</span>
            </div>
        </div>
        <div class="commodity2">
            <img src="./assets/images/line5/commodity2.png" alt="">
            <div class="ljgm">
                <span>立即购买</span>
            </div>
        </div>
        <div class="commodity3">
            <img src="./assets/images/line5/commodity3.png" alt="">
            <div class="ljgm">
                <span>立即购买</span>
            </div>
        </div>
    </div>
</div>