<div class="line1" >
    <img src="./assets/images/line1/yun.png" alt="" class="yun">
    <img src="./assets/images/line1/main.png" alt="" class="main">
    <img src="./assets/images/line1/hyyc.png" alt="" class="hyyc">
    <img src="./assets/images/line1/plane.png" alt="" class="plane">
    <img src="./assets/images/line1/bird_1.png" alt="" class="bird_1">
    <img src="./assets/images/line1/bird_2.png" alt="" class="bird_2">
    <img src="./assets/images/line1/bird_3.png" alt="" class="bird_3">
    <img src="./assets/images/line1/bird2.png" alt="" class="bird2">
    <img src="./assets/images/line1/jiangluosan.png" alt="" class="jiangluosan">
    <img src="./assets/images/line1/wenzi.png" alt="" class="wenzi">
    <img src="./assets/images/line1/reqiqiu1.png" alt="" class="reqiqiu1">
    <img src="./assets/images/line1/reqiqiu2.png" alt="" class="reqiqiu2">
    <img src="./assets/images/line1/shi.png" alt="" class="shi">
    <img src="./assets/images/line1/kong.png" alt="" class="kong1">
    <img src="./assets/images/line1/kong.png" alt="" class="kong2">
    <img src="./assets/images/line1/kong.png" alt="" class="kong3">
</div>