<div class="line4">
    <div class="first">
        <img src="./assets/images/line4/bg1.png" class="bg" />
        <img src="./assets/images/line4/describe1.png" class="describe1" />
        <div class="place1">
            <img src="./assets/images/line4/place1.png" />
            <div class="xzcf1">
                <span>现在出发</span>
            </div>
        </div>
        <div class="place2">
            <img src="./assets/images/line4/place2.png" />
            <div class="xzcf2">
                <span>现在出发</span>
            </div>
        </div>
        <img src="./assets/images/line4/left.png" class="left" />
        <img src="./assets/images/line4/right.png" class="right" />
    </div>
</div>