<div class="line3" style="position: relative">

    <div class="longmuExpand">
        <img src="./assets/images/line3/longmudao_map.png" alt="龙目湖" style="width:100%;">

        <img class="pre_longmuExpand" src="./assets/images/line3/left.png" style="margin-left: 0px;position: absolute; left: 0%;top:33%"
            alt="">
        <img class="next_longmuExpand" src="./assets/images/line3/right.png" style="margin-right: 0px;position: absolute;right: 0%;top:33% "
            alt="">
    </div>


    <div class="map_box">
        <img src="./assets/images/line3/map.png" class="map" />
        <img src="./assets/images/line3/longmudao_map.png" class="longmudao_map" />
        <img src="./assets/images/line3/mindandao_map.png" class="mindandao_map" />
        <img src="./assets/images/line3/suwu_map.png" class="suwu_map" />
        <img src="./assets/images/line3/changtan_map.png" class="changtan_map" />
        <img src="./assets/images/line3/shaba_map.png" class="shaba_map" />
        <img src="./assets/images/line3/lankawei_map.png" class="lankawei_map" />
        <img src="./assets/images/line3/maerdaifu_map.png" class="maerdaifu_map" />
        <img src="./assets/images/line3/balidao_map.png" class="balidao_map" />
        <img src="./assets/images/line3/longmudao_nav.png" alt="导航栏">
        <img src="./assets/images/line3/mindandao_nav.png" alt="导航栏">
        <img class="pre_map_box" src="./assets/images/line3/left.png" style="margin-left: 0px;top:33%;position: absolute; left: 0%;"
            alt="">
        <img class="next_map_box" src="./assets/images/line3/right.png" style="margin-right: 0px;top:33%;position: absolute;right: 0%; "
            alt="">
    </div>




    <div class="longmushan_bg">
        <img src="./assets/images/line3/longmushan.png" class="map" />
        <img class="pre_longmushan" src="./assets/images/line3/left.png" style="margin-left: 0px;top:33%;position: absolute; left: 0%;"
            alt="">
        <img class="next_longmushan" src="./assets/images/line3/right.png" style="margin-right: 0px;top:33%;position: absolute;right: 0%; "
            alt="">
    </div>



    <div class="navigation">
        <img src="./assets/images/line3/navgation_bar.png" alt="导航栏" style="width: 100%;  position: absolute;  bottom: 0%;">
        <div class="next_rev" style="background-color: blue;width: 100%;margin-top: 16%;    margin-left: 6%;">

            <img src="./assets/images/line3/wenzi_1.png" style="margin-right: 0px;display: block;position: absolute;top:27% ;width:10%;"
                alt="">
            <img src="./assets/images/line3/wenzi_2.png" style="margin-right: 0px; display: block; position: absolute;top:36% ;width:24%;"
                alt="">
            <img src="./assets/images/line3/wenzi_3.png" style="margin-right: 0px;display: block; position: absolute ;top:47%;width:30%; "
                alt="">
            <img src="./assets/images/line3/longmudao_wenzi_4.png" style="margin-right: 0px;position: absolute;top: 77%;left: 6%;width:14%;"
                alt="">
            <img src="./assets/images/line3/close.png" style="margin-right: 0px;position: absolute;top: 11%;left: 95%;width:2%;" alt="">

            <div style="position: absolute; top:91%;width:100%;height:9%;z-index:10;">
                <div class="longmudao_nav" style="font-family : 微软雅黑,宋体;font-size :initial; color :black;float: left;margin-left:2%;font-weight:bold;width:9%;height:100%;position: relative;">
                    <span style="position: absolute;  top: 28%; left: 18%;">龙目岛</span>
                    
                    </div>
                <div class="mindandao_nav" style="font-family : 微软雅黑,宋体; font-size :initial; color : black;float: left;margin-left:2%;font-weight:bold;width:9%;height:100%">
                    <span style="position: absolute;  top: 28%; left: 15%;">民丹岛</span> 
                    </div>
                <div class="suwu_nav" style="font-family : 微软雅黑,宋体; font-size :initial; color : black;float: left;margin-left:2%;font-weight:bold;width:9%;height:100%">
                     <span style="position: absolute;  top: 28%; left: 27%;">宿务</span></div>
                <div style="font-family : 微软雅黑,宋体; font-size :initial; color : black;float: left;margin-left:2%;font-weight:bold;width:9%;height:100%">
                     <span style="position: absolute;  top: 28%; left: 38%;">沙巴</span></div>
                <div style="font-family : 微软雅黑,宋体; font-size :initial; color : black;float: left;margin-left:2%;font-weight:bold;width:9%;height:100%">
                     <span style="position: absolute;  top: 28%; left: 49%;">长滩</span></div>
                <div style="font-family : 微软雅黑,宋体; font-size :initial; color : black;float: left;margin-left:2%;font-weight:bold;width:9%;height:100%">
                     <span style="position: absolute;  top: 28%; left: 60%;">兰卡威</span></div>
                <div style="font-family : 微软雅黑,宋体; font-size :initial; color : black;float: left;margin-left:2%;font-weight:bold;width:9%;height:100%">
                     <span style="position: absolute;  top: 28%; left: 70%;">马尔代夫</span></div>
                <div style="font-family : 微软雅黑,宋体; font-size :initial; color : black;float: left;margin-left:2%;font-weight:bold;width:9%;height:100%">
                     <span style="position: absolute;  top: 28%; left: 82%;">巴厘岛</span></div>

            </div>



            <img src="./assets/images/line3/go.png" style="position: absolute;top:40%;right:3%;top:80%;width:8%;" alt="">

        </div>
    </div>
</div>