 <div class="line2" >
   <div class="contant">
       <div id="video-compare-container">
           <video loop autoplay poster="">
               <source src=assets/audio/right.mp4>
           </video>
           <div id="video-clipper" class="video-clipper video-cli-ant">
               <video loop autoplay poster="">
                   <source src=assets/audio/left.mp4>
               </video>
               <div class="S_s"></div>
           </div>

       </div>
     <!--<div class="left"><img src="./assets/images/line2/left.png" /></div>-->
     <!--<div class="right"><img src="./assets/images/line2/right.png" /></div>-->
     <!--<div class="mid"><img src="./assets/images/line2/mid.png" /></div>-->
     <!--<div class="video"><img src="./assets/images/line2/video.png" /></div>-->
     <div class="group"><img src="./assets/images/line2/group.png" /></div>
     <!-- <div class="clear"></div> -->
   </div>

 </div>
 <style>
 #video-compare-container{width: 100%;}
 .line2 .contant {
    width: 70%;
}
.line2 .group{
  width: 30%;
}
#video-clipper {
    width: 112%;}
.line2 .group img {
    float: left;
    width: 36%;
    position: absolute;
    left: 64%;
    top: 0%;
}
#video-compare-container > video {
      width: 112%;}
 </style>
