<div class="wrapper">
    
    <div id="wrapperMobile" style="position: absolute;">
     
            <div id="scrollerMobile" style="position: absolute;">


                <div id="pageContent1" class="page">
                </div>

                <div id="pageContent2" class="page">
                </div>

                <div id="pageContent3" class="page">
                </div>

                <div id="pageContent4" class="page">
                </div>

                <div id="pageContent5" class="page">

                </div>

            </div> 
    </div>
    <!--<div id="footer"> this is footer!</div>-->
</div>