 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 html {
     -ms-touch-action: none;
 }

 body, ul, li {
     padding: 0;
     margin: 0;
     border: 0;
 }

 body {
     font-size: 12px;
     font-family: ubuntu, helvetica, arial;
     overflow: hidden;
     /* this is important to prevent the whole page to bounce */
 }

 #header {
     position: absolute;
     z-index: 2;
     top: 0;
     left: 0;
     width: 100%;
     height: 74px;
     line-height: 74px;
     background: #444;
     padding: 0;
     color: #eee;
     font-size: 20px;
     text-align: center;
     font-weight: bold;
 }

 #footer {
     position: absolute;
     z-index: 2;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 61px;
     background: #444;
     padding: 0;
     border-top: 1px solid #444;
     font-size: 20px;
     text-align: center;
     color: white
 }

 #wrapper {
     position: absolute;
     z-index: 1;
     top: 45px;
     bottom: 48px;
     left: 0;
     width: 100%;
     background: #ccc;
     overflow: hidden;
 }

 #wrapper1 {
     position: absolute;
     z-index: 1;
     top: 0px;
     bottom: 0px;
     left: 0;
     width: 100%;
     background: #ccc;
     overflow: hidden;
 }

 #scroller {
     top: 0px;
     position: absolute;
     z-index: 1;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     width: 100%;
     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     -ms-transform: translateZ(0);
     -o-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
     -ms-text-size-adjust: none;
     -o-text-size-adjust: none;
     text-size-adjust: none;
 }
#header {
         background-color: red;
         color: black;
         height: 120px;
     }
     #wrapper1 {
         margin-top: 120px;
     }
     #footer {
         background-color: white;
         color: black;
     }
     .line1 {
         position: relative;
         width: 100%;
         height: 0;
         padding-bottom: 44%;
         background-size: 100%;
         //background-color: rebeccapurple;
         background-image: url("../images/changi/page1_bg.png");
         background-repeat: no-repeat;
         border: solid 2px red;
         overflow: hidden;
     }
     .line1 .main {
         width: 58%;
        // height:100%;
         position: absolute;
         left: 14%;
         top: 0%;
     }
     .line1 .yun {
         width: 52%;
         position: absolute;
         left: 16%;
         top: 6%;
     }
     .line1 .plane {
         width: 5%;
         position: absolute;
         left: 20%;
         top: 5.5%;
     }
     .line1 .bird_1 {
             width: 3%;
            position: absolute;
            left: 71%;
            top: 13%;
     }
          .line1 .bird_2 {
                width: 2.5%;
    position: absolute;
    left: 66%;
    top: 11%;
     }
               .line1 .bird_3 {
        width: 2%;
    position: absolute;
    left: 69%;
    top: 20%;
     }
     .line1 .bird2 {
         width: 4%;
         position: absolute;
         left: 20%;
         top: 88%;
     }
     .line1 .jiangluosan {
         width: 7%;
         position: absolute;
         left: 62%;
         top: 84%;
     }
     .line1 .wenzi {
         width: 26%;
         position: absolute;
         left: 69%;
         top: 62%;
     }
     .line1 .reqiqiu1 {
         width: 1.2%;
         position: absolute;
         left: 34%;
         top: 91%;
     }
     .line1 .reqiqiu2 {
         width: 1%;
         position: absolute;
         left: 32%;
         top: 87.5%;
     }
     .line1 .shi {
         width: 0.7%;
         position: absolute;
         right: 3%;
         top: 44.5%;
     }
     .line1 .kong1 {
         width: 0.7%;
         position: absolute;
         right: 3%;
         top: 47.5%;
     }
     .line1 .kong2 {
         width: 0.7%;
         position: absolute;
         right: 3%;
         top: 50.5%;
     }
     .line1 .kong3 {
         width: 0.7%;
         position: absolute;
         right: 3%;
         top: 53.5%;
     }
     .line1 .hyyc {
         width: 20%;
         position: absolute;
         left: 33%;
         top: 42.5%;
     }
     .line2 {
         position: relative;
         width: 100%;
         height: 0;
         padding-bottom: 44%;
         background-size: 100%;
         //background-color: rebeccapurple;
         background-image: url("../images/changi/page1_bg.png");
         background-repeat: no-repeat;
         border: solid 2px red;
         overflow: hidden;
     }
     .line2 .contant {
         width: 80%;
     }
     .line2 .left {
         width: 50%;
         float: left;
     }
     .line2 .right {
         float: left;
         width: 50%;
         position: relative;
         left: -10%;
         top: 0;
     }
     .line2 .left img, .line2 .right img, .line2 .video img {
         width: 100%;
         height: auto;
     }
     .line2 .mid img {
         width: 95%;
     }
     .line2 .mid {
         float: left;
         width: 10%;
         position: absolute;
         left: 31%;
         top: 20%;
     }
     .line2 .video {
         float: left;
         width: 9%;
         position: absolute;
         left: 31%;
         top: 27%;
     }
     .line2 .group img {
         float: left;
         width: 32%;
         position: absolute;
         left: 67%;
         top: 20%;
     }
     .line2 .clear {
         clear: both;
     }
     .line3 {
         position: relative;
         width: 100%;
         height: 0;
         padding-bottom: 44%;
         background-size: 100% auto;
         //background-color: rebeccapurple;
         background-image: url("../images/changi/page1_bg.png");
         background-repeat: no-repeat;
         background-size: 100%;
         border: solid 2px green;
         overflow: hidden;
     }
      .line3 .map_box {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
        //  display: none;
     }
      .line3 .longmushan_bg {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
        //  display: none;
     }
    .line3 .map {
         width: 100%;
         position: absolute;
     }
      
   .line3 .longmudao_map {
             width: 20%;
            position: absolute;
            left: 67%;
            top: 44%;
            // display: none;
     }
        .line3 .mindandao_map {
                 width: 21%;
    position: absolute;
    left: 51%;
    top: 22%;
    // display: none;
     }
    .line3 .suwu_map {
       width: 45%;
    position: absolute;
    left: 52.5%;
    top: 10%;
     }
    .line3 .changtan_map {
      width: 42%;
    position: absolute;
    left: 51.5%;
    top: -14%;
    // display: none;
     }
    .line3 .shaba_map {
          width: 34%;
    position: absolute;
    left: 72%;
    top: -2%;
    // display: none;
     }
    .line3 .lankawei_map {
        width: 24.3%;
    position: absolute;
    left: 27%;
    top: 11%;
     }
    .line3 .maerdaifu_map {
        width: 44.3%;
        position: absolute;
        left: 6.5%;
        top: 17%;
     }
    .line3 .balidao_map {
    width: 31.3%;
    position: absolute;
    left: 51.5%;
    top: 45%;
     }



     .line4 {
         width: 100%;
         height: 0;
         padding-bottom: 50%;
         background-size: 100% auto;
         //background-color: rebeccapurple;
         background-image: url("../images/changi/page1_bg.png");
         background-repeat: no-repeat;
         background-size: 100%;
         border: solid 2px green;
     }
     .line5 {
         width: 100%;
         height: 0;
         padding-bottom: 50%;
         background-size: 100% auto;
         //background-color: rebeccapurple;
         background-image: url("../images/changi/page1_bg.png");
         background-repeat: no-repeat;
         background-size: 100%;
         border: solid 2px orange;
     }
   #video-compare-container {
     display: inline-block;
     line-height: 0;
     position: relative;
     width: 50%;
     padding-top: 42.3%;
   }
   #video-compare-container > video {
     width: 100%;
     position: absolute;
     top: 0;
     //                height: 100%;
   }
   #video-clipper {
     width: 50%; position: absolute;
     top: 0;
     overflow: hidden;
   }
   .video-cli-ant {
     -webkit-clip-path: polygon(0 0, 100% 0, 71% 100%, 0% 100%);
     -moz-clip-path: polygon(0 0, 100% 0, 71% 100%, 0% 100%);
     -ms-clip-path: polygon(0 0, 100% 0, 71% 100%, 0% 100%);
     clip-path: polygon(0 0, 100% 0, 71% 100%, 0% 100%);
   }
   #video-clipper video {
     width: 100%;
     postion: absolute;
     //                height: 100%;
   }

 @media screen and (max-width: 768px){
 }
 @media screen and (min-width: 768px) and (max-width: 1024px)
 {

 }

 @media screen and (min-width: 1025px) and (max-width: 1299px)
 {}
 @media only screen and (min-width: 1300px){
     .line1{
  padding-bottom: 38%;
     }
     .line2{
  padding-bottom: 38%;
     }
     .line3{
  padding-bottom: 38%;
     }
     .line4{
  padding-bottom: 38%;
     }
    .line1 .main {
        width: 45%;
        position: absolute;
        left: 15%;
        top: 3%;
     }
     .line1 .yun {
        width: 41%;
        position: absolute;
        left: 16%;
        top: 7%;
     }
     .line1 .hyyc {
        width: 20%;
        position: absolute;
        left: 29%;
        top: 42.5%;
     }
    .line1 .bird_1 {
        width: 1.8%;
        position: absolute;
        left: 57%;
        top: 14%;
     }
    .line1 .bird_2 {
        width: 2%;
        position: absolute;
        left: 53%;
        top: 8%;
     }
    .line1 .bird_3 {
        width: 2%;
        position: absolute;
        left: 55%;
    }
    .line1 .jiangluosan {
        width: 7%;
        position: absolute;
        left: 54%;
        top: 84%;
    }
    .line1 .wenzi {
        width: 26%;
        position: absolute;
        left: 59%;
        top: 62%;
    }
     .line1 .shi {
         width: 0.7%;
         position: absolute;
         right: 5%;
         top: 44.5%;
     }
     .line1 .kong1 {
         width: 0.7%;
         position: absolute;
         right: 5%;
         top: 47.5%;
     }
     .line1 .kong2 {
         width: 0.7%;
         position: absolute;
         right: 5%;
         top: 50.5%;
     }
     .line1 .kong3 {
         width: 0.7%;
         position: absolute;
         right: 5%;
         top: 53.5%;
     }
    .line1 .reqiqiu1 {
        width: 1.2%;
        position: absolute;
        left: 30.5%;
        top: 92%;
    }
    .line1 .reqiqiu2 {
        width: 1%;
        position: absolute;
        left: 29%;
        top: 88.5%;
    }




           .line4 .first{
        width: 100%;
        height: 100%;
        border: 1px solid black;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }
    .line4 .first .bg{
        width: 100%;
    }


     .line4 {
         position: relative;
         width: 100%;
         height: 0;
         padding-bottom: 38%;
         background-size: 100% auto;
         //background-color: rebeccapurple;
         background-image: url("../images/changi/page1_bg.png");
         background-repeat: no-repeat;
        //  background-size: 100%;
         border: solid 2px green;
     }






    .line4 .first{
        width: 100%;
        height: 100%;
        border: 1px solid black;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }
    .line4 .first .bg{
        width: 100%;
    }
    .line4 .first .describe1{
        width: 35%;
        position: absolute;
        left: 5%;
        top: 11%;
    }
    .line4 .first .place1{
        width: 39%;
        height: 55.5%;
        position: absolute;
        left: 9%;
        top: 30%;
        border: 1px solid black;
    }
    .line4 .first .place1 img{
        width: 100%;
    }
    .line4 .first .place2{
        width: 39%;
        height: 55.5%;
        position: absolute;
        right: 9%;
        top: 30%;
    }
    .line4 .first .place2 img{
        width: 100%;
    }
    .line4 .first .xzcf1{
        width: 29%;
        height: 13%;
        position: absolute;
        bottom: 9%;
        left: 7%;
        border: 0.1rem solid white;
        overflow: hidden;
        min-width: 86px;
        min-height: 20px;
        cursor: pointer;
        -webkit-transition-property: background-color;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
    }
    .line4 .first .xzcf1 span{
        width: 100%;
        position: absolute;
        left: 0;
        top: 15%;
        font-size: 0.55rem;
        text-align: center;
        font-family: "微软雅黑";
        font-weight: 900;
        vertical-align: middle;
        color: white;
        display: block;
    }
    .line4 .first .xzcf1:hover{
        background-color: white;
    }
    .line4 .first .xzcf1:hover span{
        font-size: 0.7rem;
        top: 12%;
        color: black;
    }
        .line4 .first .xzcf2{
        width: 29%;
        height: 13%;
        position: absolute;
        bottom: 9%;
        left: 7%;
        border: 0.1rem solid white;
        overflow: hidden;
        min-width: 86px;
        min-height: 20px;
        cursor: pointer;
        -webkit-transition-property: background-color;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
    }
    .line4 .first .xzcf2 span{
        width: 100%;
        position: absolute;
        left: 0;
        top: 15%;
        font-size: 0.55rem;
        text-align: center;
        font-family: "微软雅黑";
        font-weight: 900;
        vertical-align: middle;
        color: white;
        display: block;
    }
    .line4 .first .xzcf2:hover{
        background: white;
    }
    .line4 .first .xzcf2:hover span{
        font-size: 0.7rem;
        top: 12%;
        color: black;
    }
    .line4 .left{
        width: 1.5%;
        position: absolute;
        left: 4%;
        top: 49.25%;
        cursor: pointer;
    }
    .line4 .right{
        width: 1.5%;
        position: absolute;
        right: 4%;
        top: 49.25%;
        cursor: pointer;
    }







     .line5 {
         position: relative;
         width: 100%;
         height: 0;
         padding-bottom: 50%;
         background-size: 100% auto;
         //background-color: rebeccapurple;
         background-image: url("../images/changi/page1_bg.png");
         background-repeat: no-repeat;
         background-size: 100%;
         border: solid 2px orange;
     }
     .line5 .bg{
         width: 100%;
     }
     .line5  .title .buy{
        width: 20%;
        position: absolute;
        left: 4%;
        top: 8%;
     }
    .line5 .commodity{
        width: 90%;
        height: 61%;
        position: absolute;
        left: 5%;
        top: 22%;
        border: 1px solid black;
    }
    .line5 img{
        width: 100%;
    }
    .line5 .commodity .commodity1{
        width: 33.333333%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
    }
        .line5 .commodity .commodity2{
        width: 33.333333%;
        height: 100%;
        position: absolute;
        left: 33.3333333%;
        top: 0;
    }
        .line5 .commodity .commodity3{
        width: 33.333333%;
        height: 100%;
        position: absolute;
        left: 66.6666666%;
        top: 0;
    }
        .line5 .commodity .ljgm{
        width: 29%;
        height: 9%;
        position: absolute;
        top: 83%;
        left: 33%;
        border: 0.1rem solid white;
        overflow: hidden;
        min-width: 86px;
        min-height: 20px;
        cursor: pointer;
        -webkit-transition-property: background-color;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
    }
   .line5 .commodity .ljgm span{
        width: 100%;
        position: absolute;
        left: 0;
        top: 15%;
        font-size: 0.55rem;
        text-align: center;
        font-family: "微软雅黑";
        font-weight: 900;
        vertical-align: middle;
        color: white;
        display: block;
    }
    .line5 .commodity .ljgm:hover{
        background-color: white;
    }
    .line5 .commodity .ljgm:hover span{
        font-size: 0.7rem;
        top: 12%;
        color: gray;
    }
 }




 
 @media screen and (min-width: 1200px) {
     #header{
         height: 120px;
     }
     #wrapper1 {
    margin-top: 120px;
}
      .line1{
  padding-bottom: 48%;
     }
     .line2{
  padding-bottom: 48%;
     }
     .line3{
  padding-bottom: 48%;
     }
     .line4{
  padding-bottom: 48%;
     }
 }

 @media screen and (max-width: 1200px) {
     #header{
         height: 180px;
         background-color: blue;

     }
     #wrapper1 {
            margin-top: 180px;
        }
 }

 //#header
