 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 html {
     -ms-touch-action: none;
 }

 body, ul, li {
     padding: 0;
     margin: 0;
     border: 0;
 }

 body {
     font-size: 12px;
     font-family: ubuntu, helvetica, arial;
     overflow: hidden;
     /* this is important to prevent the whole page to bounce */
 }
  #wrapper {
     position: absolute;
     z-index: 1;
     top: 45px;
     bottom: 48px;
     left: 0;
     width: 100%;
     background: #ccc;
     overflow: hidden;
 }

 #wrapperMobile {
     position: absolute;
     z-index: 1;
     top: 0px;
     bottom: 0px;
     left: 0;
     width: 100%;
     background: #ccc;
     overflow: hidden;
 }

  #scroller {
     top: 0px;
     position: absolute;
     z-index: 1;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     width: 100%;
     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     -ms-transform: translateZ(0);
     -o-transform: translateZ(0);
     transform: translateZ(0);
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
     -ms-text-size-adjust: none;
     -o-text-size-adjust: none;
     text-size-adjust: none;
 }